@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Poppins:wght@100;200;300;400;500;600;700&family=Sriracha&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/plano-fundo.jpg);
    background-size: cover;
}

.inicio {
    text-align: center;
    padding: 10px;
    background-color: white;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.inicio h1 {
    padding: 15px;
}

.inicio p {
    padding-bottom: 15px;
}

.todos-os-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.part-1, .part-2, .part-3, .part-4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    padding: 50px 0;
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    /*min-height: 100vh;*/
    padding: 50px 20px;
}

.icon {
    margin-top: 20px;
}

/*tamanho da imagem do card*/
.icon img {
    width: 100px;
}

/*tamanho do texto que sera mostrado*/
.content {
    min-height: 550px;
    overflow: auto;
} 

.content2 {
    min-height: 950px;
    overflow: auto;
} 

.content3 {
    min-height: 1150px;
    overflow: auto;
} 

.content4 {
    min-height: 670px;
    overflow: auto;
} 

/*tamanho do título do conteúdo*/
.content h2, .content2 h2, .content3 h2, .content4 h2 {
    text-align: left; 
    margin-bottom: 15px; 
    font-size: 24px;
    position: relative;  
}

 /*detalhe linha a baixo do texto*/
.content h2::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 30px;
    background-color: #D07984;
    bottom: 4px;
    border-radius: 100px;
}

.content2 h2::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 30px;
    background-color: #D07984;
    bottom: 4px;
    border-radius: 100px;
}

.content3 h2::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 30px;
    background-color: #D07984;
    bottom: 4px;
    border-radius: 100px;
}

.content4 h2::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 30px;
    background-color: #D07984;
    bottom: 4px;
    border-radius: 100px;
}

/*costumizar o card*/
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    padding: 25px; 
    background-color: white;
    text-align: justify;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.389); 
    position: relative;  /*detalhe direito do card*/
}

/*detalhe direito do card*/
.card::before {
    content: '';
    position: absolute; 
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid #D07984;
    border-right: 20px solid #D07984;  
}

/*parte inferior da página*/
.rodape {
    background-color: white;
    padding: 20px;
}

.rodape p {
    text-align: center;
}
